

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
    background: #242323;
    background: radial-gradient(circle, rgba(36, 35, 35, 1) 0%, rgba(36, 35, 35, 1) 35%, rgba(36, 35, 35, 1) 100%);
}   

body{
    min-height: 100%;
    text-align: center;
}

.grid-container{
    display: grid;
    height: 100vh;
    grid-template-areas: 
        "header"
        "main"
        "footer";
}

.header{
    grid-area: header;
    margin-top: 20px;
}

.main{
    grid-area: main;
    margin-top: 10%;
}

.footer{
    grid-area: footer;
}

@media (min-width: 120px){
    .grid-container{
        grid-template:
            "header" 100px
            "main" auto
            "footer" 100px;
    }
}

@import url('https://api.fontshare.com/v2/css?f[]=general-sans@400,500,700&display=swap');

html {
  font-family: 'General Sans', sans-serif;
}

.headerBox{
    display: flex;
    justify-content: space-between;
    margin-left: 3%;
    margin-right: 3%;
}

.listaBotones{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.eventosARealizar{
    display: flex;
    margin-top: 10%;
    align-items: center;
    justify-content: center;
    margin-bottom: 20%;
}
