@import url('https://api.fontshare.com/v2/css?f[]=general-sans@400,500,700&display=swap');

.title {
  font-family: 'General Sans', sans-serif;
  font-weight: 700px;
  font-size: 5rem;
  color: #ece5e3;
}
